extends ../../layout/default

block main
    - if (messages.error)
        .message.info
        div(
            class="alert alert-primary"
            show-alert
            data-time="3000"
        ) #{messages.error} <span close-alert>x</span>
    .container.mt-5
        .row.justify-content-center
            .col-md-6
                .card.shadow-sm
                    .card-body
                        h2.card-title.text-center Bạn quên mật khẩu?

                        p.card-text.text-center.mb-4
                            | Nhập địa chỉ email của bạn và chúng tôi sẽ gửi cho bạn một liên kết để đặt lại mật khẩu của bạn.

                        form(action="/account/password/forgot" method="POST" class="needs-validation")
                            .form-group
                                label(for="email") Email:
                                input(
                                    type="email"
                                    name="email"
                                    id="email"
                                    class="form-control"
                                    placeholder="Nhập email của bạn"
                                    required
                                )

                            button(type="submit" class="btn btn-primary btn-block mt-3 w-100") Gửi

                        p.card-text.text-center.mt-3
                            a(href="/account/login" class="text-decoration-none") Trở về trang đăng nhập
