extends ../../layout/default

block main
    - if (messages.error)
        .message.info
        div(
            class="alert alert-primary"
            show-alert
            data-time="3000"
        ) #{messages.error} <span close-alert>x</span>
    .container.mt-5.mb-5
        .row.justify-content-center
            .col-md-6
                .card.shadow-sm
                    .card-body
                        h1.card-title.text-center Nhập mã OTP để xác nhận

                        form(action="/account/password/otp" method="POST" class="needs-validation")
                            .form-group
                                label(for="email") Email:
                                input(
                                    type="email"
                                    name="email"
                                    id="email"
                                    class="form-control mb-2"
                                    placeholder="Nhập email của bạn"
                                    value=email
                                    required
                                )
                                label(for="otp") Mã OTP:
                                input(
                                    type="text"
                                    name="otp"
                                    id="otp"
                                    class="form-control"
                                    placeholder="Nhập mã OTP"
                                    required
                                )

                            button(type="submit" class="btn btn-primary btn-block mt-3 w-100") Xác nhận

                        p.card-text.text-center.mt-3
                            a(href="/account/login" class="text-decoration-none") Trở về trang đăng nhập