extends ../../layout/default

block main
    - if (messages.error)
        .message.info
        div(
            class="alert alert-primary"
            show-alert
            data-time="3000"
        ) #{messages.error} <span close-alert>x</span>
    .container.mt-5.mb-5
        .row.justify-content-center
            .col-md-6
                .card.shadow-sm
                    .card-body
                        h2.card-title.text-center Đặt lại mật khẩu

                        form(action="/account/password/reset" method="POST")
                            .form-group.mb-2.position-relative
                                label(for="password") Mật khẩu mới:

                                input#password.form-control(
                                    type="password"
                                    name="password"
                                    placeholder="Nhập password của bạn"
                                    required
                                )
                                i.fa-solid.fa-eye.position-absolute(
                                    id="togglePassword"
                                    style="right: 10px; top: 38px; cursor: pointer;"
                                )
                            .form-group
                                label(for="confirmPassword") Nhập lại mật khẩu mới:
                                input(
                                    type="password"
                                    name="confirmPassword"
                                    id="confirmPassword"
                                    class="form-control"
                                    placeholder="Nhập password của bạn"
                                    required
                                )

                            button(type="submit" class="btn btn-primary btn-block mt-3 w-100") Xác nhận

                        p.card-text.text-center.mt-3
                            a(href="/account/login" class="text-decoration-none") Trở về trang đăng nhập