extends ../../layout/auth.pug

block main
    .container.my-5
        .row.justify-content-center
            .col-5
                h1(class="text-center") Đăng nhập
                form(
                    action=`${prefixAdmin}/auth/login`
                    method="POST"
                )
                    div(class="form-group mb-2")
                        label(for="email") Email
                        input(
                            type="email"
                            name="email"
                            id="email"
                            class="form-control"
                            required
                        )
                    div(class="form-group mb-3")
                        label(for="password") Mật khẩu
                        input(
                            type="password"
                            name="password"
                            id="password"
                            class="form-control"
                            required
                        )
                    div(class="form-group")
                        button(
                            type="submit"
                            class="btn btn-primary w-100"
                        ) Đăng nhập
